<div class="mainContainer">
  <div class="subContainer">
    <div class="section" routerLink="/viewLoans">View Loans</div>
    <div class="section">Loan Actions</div>
    <div class="section">Closed Loans</div>
  </div>

  <div class="subContainer">
    <div class="section">View Loans 2</div>
    <div class="section">Loan Actions 2</div>
    <div class="section">Closed Loans 2</div>
  </div>

  <div class="subContainer">
    <div class="section">View Loans 3</div>
    <div class="section">Loan Actions 3</div>
    <div class="section">Closed Loans 3</div>
  </div>  
</div>

 <nav class="bottom-nav">
    <a routerLink="/home" class="nav-btn">
      <i class="bi bi-house-door-fill"></i>
      <span>Home</span>
    </a>
    <a routerLink="/viewLoans" class="nav-btn">
      <i class="bi bi-plus-circle-fill"></i>
      <span>Ongoing Loans</span>
    </a>
    <a routerLink="/closedLoans" class="nav-btn">
      <i class="bi bi-grid-fill"></i>
      <span>Closed Loans</span>
    </a>
    <a routerLink="/more-Actions" class="nav-btn">
      <i class="bi bi-grid-fill"></i>
      <span>More</span>
    </a>
  </nav>
