<div class="backBtnDiv">
    <button type="button" class="btn btn-back btn-outline-dark back-btn ms-4" (click)="goBackToHome()">
    <i class="bi bi-arrow-left"></i> Home
</button>
</div>

<div class="mainContainer">
  <div class="subContainer">
    <div class="section" routerLink="/viewLoans">View Loans</div>
    <div class="section">Loan Actions</div>
    <div class="section">Closed Loans</div>
  </div>

  <div class="subContainer">
    <div class="section">View Loans 2</div>
    <div class="section">Loan Actions 2</div>
    <div class="section">Closed Loans 2</div>
  </div>

  <div class="subContainer">
    <div class="section">View Loans 3</div>
    <div class="section">Loan Actions 3</div>
    <div class="section">Closed Loans 3</div>
  </div>
</div>
